<ion-view view-title="IKue">

  <ion-content padding="true" class="has-header">
    <ion-list>
      <ion-item class="item-avatar">
        <img>
        <h2>Upcoming3</h2>
      </ion-item>
      <ion-item class="item-avatar">
        <img>
        <h2>Upcoming2</h2>
      </ion-item>
      <ion-item class="item-avatar">
        <img>
        <h2>Upcoming1</h2>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 748px; height: 57px;"></div>
    <ion-item class="item-thumbnail-left">
      <img>
      <h2>Current</h2>
    </ion-item>
    <div class="button-bar">
      <button class="button button-positive button-large button-block button-clear">View Full Line</button>
      <button class="button button-positive button-block button-outline">Reverse</button>
      <button class="button button-positive button-large button-block">Pop Next</button>
    </div>
  </ion-content>

</ion-view>
