<ion-view view-title="Currently Serving">

  <ion-content padding="true" class="has-header">

    <ion-list>

      <ion-item ng-repeat="user in users" class="item-content">
        <h2>Position: {{$index+1}}</h2>
        <h2>Name: <b><span>{{user.name}} </span> </b> </h2>
        <h2>Phone Number: <span>{{user.phone}} </span> </h2>
      </ion-item>

    </ion-list>

    <div class="spacer" style="width: 748px; height: 57px;"></div>
    <ion-item class="item-content">
      <h2><b>Current Customer </b></h2>
      <div>
        <h1>{{currentCust.name}}</h1>
        <h1>{{currentCust.phone}}</h1>
      </div>
    </ion-item>
    <div class="button-bar">
      <button class="button button-large" ion-button round ng-click="previousUser()">Previous Customer</button>
      <button class="button button-positive button-large" ion-button round ng-click="nextUser()" >Next Customer</button>
    </div>
  </ion-content>

</ion-view>
