page-home {

  .list.card {
    border-top: 3px solid grey;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
  }

  .inner{
    margin-left: 20px;
    margin-top: 20px;
  }

  .logo{
    width: 100px;
  }

  .padding-large-top{
    margin-top: 50px;
  }
}
