page-home {

  .list.card {
    border-top: 3px solid grey;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
  }

  .inner{
    margin-left: 20px;
    margin-top: 20px;
  }

  .logo{
    width: 100px;
  }

  .padding-large-top{
    margin-top: 50px;
  }

  .button-bar{
    text-align: center;
  }

  .reverse{
    margin-right: 10%;
  }

  .content {
  width: 65%;
  height: 100%;
  float: left;
  padding-left: 1%;
  padding-right: 1%;
}

.sidebar{
  width: 15%;
  height: 100%;
  float: left;
}
.sidebar img{
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
}
.lineview{
  width: 20%;
  height: 100%;
  float: right;
}
.lineview button{
  display: block;
  margin: 0 auto;
}
.lineview h2{
  text-align: center;
}


}
